html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: none;
}

/* App fills the screen */
.App {
  width: 100%;
  height: 100%;
}

/* Wrapper around the canvas:
   - fixed to the viewport
   - extends 1px outside each side to hide seams
*/
.canvas-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("./Assets/desktop-54.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

/* Just in case, make canvas block so no extra inline spacing */
canvas {
  display: block;
}